name: Auto Green
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: |
          date >> report.txt
          git config --global user.name "taoufiq2025"
          git config --global user.email "misoftdia@gmail.com"
          git add .
          git commit -m "daily update" || echo "No changes to commit"
          git push
